.LoginContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  border-radius: 3%;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.04);

  background: whitesmoke;

  padding: 3%;
}
