/* body {
  display: flex;
  justify-content: center;
  align-content: center;

  width: 100vw;
  height: 100vh;
} */

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR&display=swap");

.App {
  font-family: "Noto Serif KR", serif;
}
